.navbar {
  width: 50%;
  margin: 5rem auto;
  border: 1px solid #b6bbc4;
  border-radius: 0.5rem;

  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0.4rem;

    li {
      list-style: none;
      &:not(:last-child) {
        border-right: 1px solid black;
        padding-right: 2rem;
      }

      a {
        text-decoration: none;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0.3rem;
        cursor: pointer;

        p,
        .icon {
          justify-self: center;
          color: black;
        }
      }
      &:hover {
        p,
        .icon {
          color: #f57575;
        }
      }
    }
  }
}
